# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executable directory
route/bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# other files
*.local
*bak*
*tmp*

# editor files
*.swp
*~

# Compiled python files
*.pyc
buildnmlc
buildlibc

# temp src directory
/route/build/src/tmp

# CMAKE files created
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# directories checked out by manage_externals, and other files created
# by manage_externals
manage_externals.log
/cime/

# External library build artifacts
/route/build/lib/mpi-seriallib/*.h
/route/build/lib/mpi-seriallib/Makefile*

/route/build/lib/piolib/Makefile*
/route/build/lib/piolib/config.h
/route/build/lib/piolib/doc
/route/build/lib/piolib/src

